button{
    color: aliceblue;
    padding: 10px;
    border: none;
    border-radius: 10em;
    margin-top: 1em;
    font-size: xx-large;
    width: 80%;
    background-color: blueviolet;
    transition: all 0.5s ease;
}

#startKnop{
    color: aliceblue;
    position: absolute;
   margin-left: 16em;
    border: none;
    border-radius: 2em;
    margin-top: 5em;
    width: 30%;
    background-color: blueviolet;
    transition: all 0.5s ease;
}

#skipKnop{
    color: aliceblue;
    margin-top: 10em;
    position: absolute;
    margin-left: 75em;
    width: 15%;
    font-size: medium;
    background-color: blueviolet;
    transition: all 0.5s ease;
}

#terugKnop{
    color: aliceblue;
  position: absolute;
    margin-top: 10em;
    margin-right: 75em;
    width: 15%;
    font-size: medium;
    background-color: blueviolet;
    transition: all 0.5s ease;
}

#bodySpel{
    background-image: url('../images/achtergrond.png');
}

h1{
    display: flex;
    justify-content: center;
    font-size: 300%;
    padding-bottom: 1em;
    color: darkmagenta;
}

#h2spel{
    color: darkmagenta;
}

#h2Score{
    position: absolute;
    padding-left: 50em;
    flex-direction: row;
    color: darkmagenta;
}

#eindScore{
    display: none;
}

img{
   width: 50%;
}

#opties{
    flex-direction: column;
    padding-left: 2em;
    padding-right: 15em;
    padding-bottom: 1em; 
}

article {
    display: flex;
    margin: auto;
    margin-left: 10em;
}

#gameScreen {
    display: none;
}

/* h1 */
#visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

